* {
    padding: 0;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}


/*Configuración CSS para el section que contiene el header*/
#headerSect {
    width: 100%;
    height: 465px;
    background-color: #1F2937;

    display: flex;
    flex-direction: column; /*Sirve para orientar todo el contenido dentro del section en columna y así solucionar el problema de 
                                que #infoHeader se vaya a la derecha del header*/
}

#headerSect header {
    width: 100%;
    height: 20%;

    display: flex;
    align-content: space-between;
    margin-bottom: 1%;
}

#headerSect header #logo, #extLinks {
    width: 45%;
    height: 100%;
    margin: 0 10% 0 10%;
}

#headerSect header #logo {
    font-size: 24px;
    color: #F9FAF8;
}

#headerSect header #extLinks {
    display: flex;
    align-content: space-between;

    align-content: center;
    align-items: center;
}

#headerSect header #extLinks > a {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
    margin: 0 5% 0 3%;
}

#headerSect #infoHeader {
    width: 50%;
    height: 55%;
    
    margin: 0 auto;
    display: flex;
    align-content: space-between;
}

#headerSect #infoHeader #infoLeft, #infoRight {
    width: 50%;
    height: 100%;

    padding-left: 1%;
}

#headerSect #infoHeader  #infoRight {
    background-color: #808080;

    font-size: 18px;
    color: #E5E7EB;

    display: flex;
    align-items: center;
    justify-content: center;

    margin-left: 5%;
}

#headerSect #infoHeader #infoLeft > h1{
    font-size: 48px;
    color: #F9FAF8;
}

#headerSect #infoHeader #infoLeft > p{
    font-size: 18px;
    color: #E5E7EB;
    margin-top: 1%;
}


#headerSect #infoHeader #infoLeft > button{
    width: 30%;
    height: 15%;

    background-color: #3882F6;
    border-radius: 10px;

    font-size: 15px;
    color: #F9FAF8;
    margin-top: 3%;
}
